- if options[:toolbar]
  %tr
    - colspan = options[:editable] ? grid.columns(*options[:columns]).length + 2 : grid.columns(*options[:columns]).length
    - colspan += 1 if options[:selectable]
    %th{ colspan: colspan }
      = render options[:toolbar], grid: grid
      &nbsp;
%tr
  - if options[:selectable]
    %th
      %a.select-all{href: "#"}
        %i.icon-th
  - if options[:starred]
    %th
  - grid.columns(*options[:columns]).each do |column|
    %th{class: datagrid_column_classes(grid, column)}
      = column.header
      = datagrid_order_for(grid, column) if column.order && options[:order]
  
  -# Actions
  - if options[:editable]
    %th{ style: "width: 60px" }