- path = options[:path] ?  [options[:path], asset] : asset
- edit_path = options[:path] ?  [:edit, options[:path], asset] : [:edit, asset]

%tr{class: options[:cycle] && cycle(*options[:cycle]), selectable: options[:selectable]}
  - if options[:selectable]
    %td{ style: "width: 20px"}
      .hide
        = check_box_tag "selected[]", asset.id, false, class: "selection"
      .selection-icon{ align: "center"}
        %i.icon-check-empty
  - if options[:starred]
    %td
      - if options[:starred] && asset.send(options[:starred])
        %i.icon-star
      - else
        %i.icon-star-empty
  - grid.columns(*options[:columns]).each do |column|
    %td{ class: datagrid_column_classes(grid, column) }
      = datagrid_format_value(grid, column, asset)
  - if options[:editable] || admin_signed_in?
    %td.text-center
      = link_to edit_path, title: t("mongoid.actions.edit", default: "Edit"), rel: "tooltip" do
        %i.icon-edit{ style: "font-size: 1.2em" }
      = link_to path, :method => :delete, 
        title: t("mongoid.actions.delete", default: "Delete"), rel: "tooltip",
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
        %i.icon-trash.danger{ style: "font-size: 1.2em" }
        
      / = link_to "Edit", edit_path, :class => 'btn btn-mini' 
      / = link_to t('.destroy', :default => t("helpers.links.destroy")), path, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'