- model_class = Visit
.page-header
  %h2=t '.title', :default => model_class.model_name.human.pluralize.titleize

#visits-search-form
  = datagrid_form_for @grid, :method => :get, :url => visits_path, html: { class: "form-horizontal" }

#visits-search-results
  = datagrid_table @grid, @assets, toolbar: "visits/grid_toolbar", selectable: true, html: { class: "table table-condensed table-hover table-bordered" }
.text-center
  = paginate @assets, pagination_class: "pagination-sm"