- model_class = Visit
.page-header
  %h2=t '.title', :default => model_class.model_name.human.pluralize.titleize

#visits-search-form
  = datagrid_form_for @grid, :method => :get, :url => visits_path, clear_url: visits_path, html: { class: "form-horizontal" }

#visits-search-results
  = render "grid"