- editable ||= false
#customers-table
  = datagrid_table CustomersGrid.new, @customers, editable: editable, html: { class: "table table-condensed table-hover" }
  .text-center
    = paginate @customers, pagination_class: "pagination-sm", param_name: "customers_page"