- editable ||= false
#customers-table
  = datagrid_table CustomersGrid.new, @customers, editable: editable, html: { class: "table table-condensed table-hover table-bordered" }

= paginate @customers, pagination_class: "pagination-small pagination-centered", param_name: "customers_page"
