- editable ||= false
#organizations-table
  - if @representative.organizations.length > 0
    = render "layouts/grid", grid: @organizations_grid, assets: @organizations, pagination_param_name: "organizations_page", remote: true