- editable ||= false
#visits-table
  = datagrid_table VisitsGrid.new, @visits, editable: editable, html: { class: "table table-condensed table-hover table-bordered" }

= paginate @visits, pagination_class: "pagination-small pagination-centered", param_name: "visits_page"
