%h2 
  = t("views.visit_plans.title", default: "Visit Planning")

#visits-table
  - unless @errors.empty?
    .alert.alert-danger
      %strong Please notice:
      %ul
        - @errors.each do |error|
          - error.messages.each do |key, msg|
            - msg.each do |m|
              %li= m
  = datagrid_table VisitsGrid.new, @visits, html: { class: "table table-condensed table-hover table-bordered" }

= paginate @visits, pagination_class: "pagination-small"
