- editable ||= false

#business-hours-table
  = render "layouts/grid", 
    grid: @business_hours_grid, 
    assets: @business_hours, 
    path: @customer, 
    editable: editable, 
    pagination_param_name: "business_hours_page"
