- editable ||= false

#business-hours-table
  = datagrid_table BusinessHoursGrid.new, @customer.business_hours, path: @customer, editable: editable, html: { class: "table table-condensed table-hover" }
  
  .text-center
    = paginate @business_hours, pagination_class: "pagination-sm", param_name: "business_hours_page"
