- editable ||= false
#visits-table
  = datagrid_table VisitsGrid.new, @visits, editable: editable, html: { class: "table table-condensed table-hover" }
  .text-center
    = paginate @visits, pagination_class: "pagination-sm", param_name: "visits_page"
