- model_class = Customer
.page-header
  %h2=t '.title', :default => model_class.model_name.human.pluralize.titleize

= panel t("views.titles.search_filters", default: "Filters"), "customers-search-form" do
  = render "search_form", grid: @grid, url: customers_path
  
#customers-search-results
  = render "grid"

:javascript
  $('.date_filter').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true
  });
  
  $("select").select2({allowClear: true})
  
  $(".panel-collapse").trigger("click")