- model_class = Customer
.page-header
  %h2=t '.title', :default => model_class.model_name.human.pluralize.titleize

#customers-search-form 
  = datagrid_form_for @grid, :method => :get, :url => customers_path, clear_url: customers_path, html: { class: "form-horizontal" }

#customers-search-results
  = render "grid"