- grid = grid || @grid
- assets = assets || @assets
- pagination_param_name = pagination_param_name || "page"
- editable ||= false
- remote ||= false
- html = html || { class: "table table-condensed table-hover"}
- starred ||= nil
- path ||= nil
- toolbar = toolbar || false

= datagrid_table grid, assets, path: path, editable: editable, starred: starred, toolbar: toolbar, remote: true, html: html
.text-center
  = paginate assets, pagination_class: "pagination-sm", remote: remote, param_name: pagination_param_name