%nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation"}
  .navbar-header
    %a.navbar-brand{ href: "/"} CoR
  = render_navigation(level: 1)
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li= link_to current_user.email
      %li= link_to "Sign Out", destroy_user_session_path, method: :delete
    - else
      %li= link_to "Sign In", new_user_session_path
      