%nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation"}
  .navbar-header
    %a.navbar-brand{ href: "/"} CoR
  
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      / %li= render "layouts/messages"
      %li.no-overflow{ style: "max-width: 200px;" }= link_to current_user.email
      %li= link_to "Sign Out", destroy_user_session_path, method: :delete
    - else
      %li= link_to "Sign In", new_user_session_path
      